body {
    font-family: "Open Sans", sans-serif;
    background: url("mountains-login.jpg") 50% fixed;
  }
  
  * {
    box-sizing: border-box;
  }
  h1{
    font-size: 300%;
    text-align: center;
  }
  h2{
    font-size: 200%;
    text-align: center;
  }
  .new_button{
    width: 20%;
    height: 100%;
    padding: 10px 10px;
    background: lightblue;
    color: black;
    display: block;
    border: 2px;
    margin-top: 50px;
    position: absolute;
    max-height: 60px;
    cursor: pointer;
    left: 30%;
    bottom: 50%;
  }
  .ok_button{
    width: 20%;
    height: 100%;
    padding: 10px 10px;
    background: lightsalmon;
    color: black;
    display: block;
    border: 2px;
    margin-top: 50px;
    position: absolute;
    max-height: 60px;
    cursor: pointer;
    right: 30%;
    bottom: 50%;
  }
  .new_button:hover{
    background-color: aqua;
    box-shadow: 1px black;
    transform: translateY(4px);
  }
  .ok_button:hover{
    background-color: orange;
    box-shadow: 1px black;
    transform: translateY(4px);
  }
  input{
    background: lightgray;
    width: 15%;
    height: 50px;
    position: center;
    bottom: 10%;
  }
  input:hover{
    background: palegreen;
  }
  .anzeige{
    background: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    border-color: lightsalmon;
    border-style: solid;
  }
  .buttons{
    
  }