body {
  background: aliceblue;
  font-family: primary-font;
  height: 100%;
}
  
  h1 {
    color: light-navy;
    font-size: 0.8em;
    line-height: 2;
  }
  
  input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.75em;
    background: #3d566e;
    color: white;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }
  
  input[type="time"]{
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
  }
  
  input[type="submit"]{
    background: lighten(red, 5%);
    cursor: pointer;
  }
  
  .half {
    width: 49%;
    display: inline-block;
    margin: 0;
  }
  
  .day-picker {
    margin-bottom: 0.5em;
  }
  
  .day-picker li {
    font-size: 0.8em;
    display: inline-block;
    background: lighten(navy, 5%);
    padding: 0.5em;
    color: light-navy;
    cursor: pointer;
    width: calc(100% / 5 - 1.15em);
    text-align: center;
    border: 1px solid;
    margin-right: -1px;
    
  }
  
  .day-picker li.day-selected {
    color: white;
    position: relative;
  }
  
  .color-picker {
    margin: 0 auto 0.5em;
    text-align: center;
  }
  
  .color-picker li {
    display: inline-block;
    width: 20px; height: 20px;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
    
  }
  
  .color-picker li.color-selected {
    border: 2px solid white;
    opacity: 1;
  }